.Container{
  border: 1px solid;
  width: fit-content;
  padding: 5px;
}
.Box{
  display: flex;
  flex-direction: row;
  border: 2px red solid;
}
.P1{
  color: red;
}
.P2{
color: grey;
}
.P3{
color: aqua;
}
.P4{
color: chocolate;
}
.P5{
color: blue;
}
.P6{
color: cadetblue;
}
.P7{
color: blueviolet;
}
.P8{
color: aquamarine;
}
.P9{
color: red;
}
.P10{
color: turquoise;
}
